.feature-ui {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 16777271;
  padding: 20px;
  margin: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: white;
  border: 1px solid #aaa;
  border-right-color: #999;
  border-bottom-color: #555;
  border-left-color: #999;
  box-shadow: 0 2px 9px rgba(0,0,0, .5);
  transition: .15s linear box-shadow border-color padding background;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feature-ui-minimized {
  background: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.feature-ui .reset {
  margin-right: 50px;
  transition: .15s linear all;
}

.feature-ui-minimized .reset {
  margin-right: 0;
}

.feature-ui ul {
  display: block;
  max-height: 2000px;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  opacity: 1;
  transition: .15s linear all;
}

.feature-ui-minimized ul {
  max-height: 0;
  margin-top: 0;
  opacity: 0;
}

.feature-ui li {
  list-style: none;
}

.feature-ui label {
  display: block;
  float: left;
  width: 100%;
  max-height: 30px;
  clear: both;
  transition: .15s linear all;
}

.feature-ui-minimized label {
  max-height: 0;
}

.feature-ui span {
  display: block;
  float: left;
}

.feature-ui input {
  float: right;
}

.feature-ui input:checked ~ span {
  color: black
}

.feature-ui input ~ span {
  color: #ccc
}

.feature-ui a {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  transition: .15s linear all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feature-ui-minimized a {
  background: #ccc;
}

.feature-ui .action {
  float: right;
  width: 28px;
  margin-left: 4px;
  clear: none;
  text-align: right;
}

.feature-ui a,
.feature-ui a:visited,
.feature-ui a:active {
  color: white;
  background: #254d73;
}

.feature-ui a:hover {
  color: white;
  background: #19334c;
}

.feature-ui a + a {
  float: left;
}

.feature-ui a + a {
  float: right;
  clear: both;
}


