#feature-ui {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
  position: fixed;
  border: 1px solid #aaa;
  border-bottom-color: #555;
  border-left-color: #999;
  border-right-color: #999;
  margin: 20px;
  bottom: 0;
  right: 0;
  background: white;
  font-size: 14px;
  z-index: 16777271;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .15s linear box-shadow border-color padding background;
  box-shadow: 0px 2px 9px rgba(0,0,0, .5);
}

#feature-ui.minimized {
  background: transparent;
  box-shadow: 0 0 0 transparent;
  border-color: transparent;
}

#feature-ui .reset {
  margin-right: 50px;
  transition: .15s linear all;
}

#feature-ui.minimized .reset {
  margin-right: 0px;
}

#feature-ui ul {
  display: block;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  max-height: 2000px;
  opacity: 1;
  transition: .15s linear all;
}

#feature-ui.minimized ul {
  margin-top: 0px;
  max-height: 0px;
  opacity: 0;
}

#feature-ui li {
  list-style: none;
}

#feature-ui label {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  transition: .15s linear all;
  max-height: 30px;
}

#feature-ui.minimized label {
  max-height: 0px;
}

#feature-ui span {
  display: block;
  float: left;
}

#feature-ui input {
  float: right;
}

#feature-ui input:checked ~ span {
  color: black
}

#feature-ui input ~ span {
  color: #ccc
}

#feature-ui a {
  font-weight: 100;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px 10px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .15s linear all;
}

#feature-ui.minimized a {
  background: #ccc;
}

#feature-ui a.action {
  text-align: right;
  float: right;
  width: 28px;
  clear: none;
  margin-left: 4px;
}

#feature-ui a,
#feature-ui a:visited,
#feature-ui a:active {
  background: #254d73;
  color: white;
}

#feature-ui a:hover {
  background: #19334c;
  color: white;
}

#feature-ui a + a {
  float: left;
}

#feature-ui a + a {
  float: right;
  clear: both;
}


